{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<div class="about">
    <h2>Blogue — это качественное медиа о моде, красоте и образе жизни, созданное командой профессионалов глянца. Мы верим, что мода — это лакмус эпохи, символ духа времени, поэтому наша цель —  освещать эту сферу через призму социальной повестки, культуры и искусства. Мы не гонимся за количеством контента, нам важны качество и глубина, как текстов, так и визуальной эстетики. Мы тщательно фильтруем глобальный информационный поток, чтобы первыми представить только самое важное и актуальное, основываясь на нашей многолетней визионерской экспертизе. Мы сформировали и продолжим расширять комьюнити, которому, как и нам, интересно узнать не только о последних модных тенденциях, но и о том, какие процессы происходят в обществе, как улучшить качество жизни и на каких современных героев стоит равняться.</h2>
</div>
<div class="about">
    <img src="{% static 'about.jpeg' %}" alt="about">
</div>

{% endblock %}